body{
    background-color: #f0f0f0;
    background-image: url('guitar3.jpg');
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

hr.guitar-string {
    border: 0px;
    background-color: rgba(50, 50, 50, 1.0);
    position: absolute;
    left: 9vw;
    width: 100vw;
    margin: 1vw;
}

div.chord-select {
    background-color: rgba(50, 50, 50, 0.3);
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    position: absolute;
    padding: 5px;
}

#container-left {
    width: 30vw;
    display: inline-block;
}

#container-right {
    width: 60vw;
    display: inline-block;
}

#container-bottom {
    width: 100vw;
}
